.form__design {
  border-bottom: rgb(197, 84, 180) 1px solid;
  margin-right: 19px;
  margin-left: 20px;
  margin-top: 30px;
  &__boxOne {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    padding-bottom: 10px;
  }
  &__title {
    flex-grow: 1;
    text-transform: uppercase;
    font-size: rem(18);
    color: rgb(160, 30, 140);
    font-weight: 600;
  }
  &__ungroupIcon {
    padding-right: 12px;
    font-size: rem(18);
  }
  &__colors {
    padding-top: 12px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__h2title {
    width: 60%;
    color: $subtitle-color;
    font-size: rem(14);
    text-transform: uppercase;
  }
  &__colorInput {
    display: flex;
    margin-bottom: 20px;
  }
  &__label {
    font-size: rem(14);
    width: 62px;
    height: 19px;
    color: rgb(197, 84, 180);
    margin-left: 20px;
    text-transform: uppercase;
  }
  &__radioBtn {
    margin-right: 10px;
    accent-color: rgb(197, 84, 180);
    cursor: pointer;
  }
  &__colorBox {
    height: 25px;
    width: 30px;
  }
  &__p1c1 {
    background-color: $palette1-color1;
  }
  &__p1c2 {
    background-color: $palette1-color2;
  }
  &__p1c3 {
    background-color: $palette1-color3;
  }
  &__p2c1 {
    background-color: $palette2-color1;
  }
  &__p2c2 {
    background-color: $palette2-color2;
  }
  &__p2c3 {
    background-color: $palette2-color3;
  }
  &__p3c1 {
    background-color: $palette3-color1;
  }
  &__p3c2 {
    background-color: $palette3-color2;
  }
  &__p3c3 {
    background-color: $palette3-color3;
  }
  @include tablet {
    margin-left: 40px;
    margin-right: 30px;
  }
}
.collapsed {
  display: none;
}

.keyboard_fill {
  color: rgb(219, 145, 208);
  font-size: rem(18);
  @include tablet {
    font-size: rem(18);
  }
}

.ungroup_design {
  color: rgb(219, 145, 208);
  font-size: rem(18);
  @include tablet {
    font-size: rem(18);
  }
}

.nodes_share {
  color: rgb(219, 145, 208);
  font-size: rem(18);
  @include tablet {
    font-size: rem(18);
  }
}
.fa-chevron-up {
  color: rgb(197, 84, 180);
}
